@tailwind base;
@tailwind components;
@tailwind utilities;
*{box-sizing:border-box;margin:0;padding:0}
body{background:#080808;color:#e2e8f0;font-family:'Inter',sans-serif;-webkit-font-smoothing:antialiased}
::-webkit-scrollbar{width:4px}
::-webkit-scrollbar-thumb{background:#ef444450;border-radius:2px}
